OPENAI_API_KEY="voc-xxxxxxxxxxxxxxxxxxxxx"
TAVILY_API_KEY="tvly-xxxxxxxxxxxxxxxxxxxxx"
OPENAI_BASE_URL="https://openai.vocareum.com/v1"

CHROMA_HOST="api.trychroma.com"
CHROMA_API_KEY="ck-xxxxxxxxxxxxxxxxxxxxx"
CHROMA_TENANT="123-456-789-qwe-rty"
CHROMA_DATABASE="chromadb"